@{
    ViewData["Title"] = "VistaParaPDFGrupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reportes</h1>



<a class="btn btn-primary" asp-controller="reportes" asp-action="GenerarPDF">Ver pdf pruebas</a>
